<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluemapletech.hippatextapp">

    <!-- Enable internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.EmployeeRegisterActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.CompanyRegistrationActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.RootHomeActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.AdminHomeActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity android:name=".activity.ViewUserDetails" />
        <activity android:name=".activity.EmployeeHomeActivity" />
        <activity
            android:name=".activity.ChatEmployeeActivity"
            android:parentActivityName=".activity.EmployeeHomeActivity" />
        <activity android:name=".activity.SecurePin" />
        <activity android:name=".activity.CreateGroup" />
        <activity android:name=".activity.ChangeSecureChatPinActivity" />
        <activity android:name=".activity.GroupMessageEmployeeActivity" />

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseInstansceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.AddRootActivity" />
        <activity android:name=".activity.ListOfRoots" />
        <activity android:name=".activity.AddAdminActivity" />
        <activity android:name=".activity.ListOfAdminActivity" />
        <activity android:name=".activity.AddEmployeeActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.ViewGroupDetails"></activity>
    </application>

</manifest>